<div id="leftMenu_section">
    <ul id="leftMenu_list">
        
        <li *ngFor="let rm of Leftmenu" (click)="openLeftMenu(rm.audio);likeopen(rm.audio);">
            <img src="{{rm.img}}" alt="">
            <div>{{rm.name | titlecase}}</div>
        </li>
    </ul>
</div> 
<div id="rightMenu_section">
    <ul id="rightMenu_list">
        
        <li *ngFor="let rm of Rightmenu" (click)="openRigthMenu(rm.name)">
            <img src="{{rm.img}}" alt="">
            <div>{{rm.name | titlecase}}</div>
        </li>
    </ul>
</div>
<div id="setAudio"></div> 
<div class="container-fluid" style="background-color: red;">
    <div class="row">
        <div class="animation-part">
            <section class="sticky">
                <div class="bubbles" *ngIf="like">
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"><img [src]="imag" alt="" srcset=""></div>
                    <div class="bubble"><img [src]="imag" alt="" srcset=""></div>
                </div>
            </section>
        </div>
    </div>
</div>

