<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <img id="bgimg" src="assets/event/login.jpg" alt="">
        <div id="login_section">
            <div class="login">  
               <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()"> 
                    <div class="invalidError" *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                        Email is Required*
                    </div>           
                <div class="form-group display">
                
                    <label>LOGIN HERE</label>
                    <input type="email" class="form-control" required autocomplete="off" formControlName="email">    
                </div>
                <div id="submitBtn">
                 <!-- <input src="assets/icons/btn.png" name="login" id="loginbtn" class="btn" type="submit" value="SUBMIT"> --> 
                 <input type="image" src="assets/icons/btn.png" alt="Submit" width="25%" height="auto">
         

                </div>
               
            </form>
            <br>
            <!-- <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
        </div>
    </div>

    </div>
</section>
<!-- <div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div> -->
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->