#login_section{   
    position: absolute;
    top: 19%;
    list-style: 0;
    width: 80%;
    height: 42%;
    transform: translate(10%, -30%);

}
.login{
    height: 40%;
    width: 48%;
    margin: auto;
   
}
label{
    display:block;
    width:30%;
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px;
    color:white;
    margin-left:25px;
}
 .display{
    //  width:845px;
    //  height: 120px;
     background-image: url('../../assets/icons/top-band.png');
     display:flex;
    align-items: baseline;
    margin-bottom:20px;
    padding-bottom: 16px; 
    background-image: linear-gradient(to right, #2dacdd , #4fac35);
  /* background-image: url(assets/icons/top-band.png); */
} 
.invalidError{
    font-size:15px;
}
input[type="text"], input[type="email"]{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px;
    width:50%;
}
#submitBtn{
    display: block;
    text-align: center;
    #loginbtn{
       
     // background-image: linear-gradient(to right, #4fac35,#2dacdd ,);
    color: white;
    border-radius: 24px;
    padding: 6px 28px;
    
    margin: auto;
    }
}


@media only screen and (max-width: 900px) {
    #login_section{   
      position: absolute;
      top: 15%;
      height: 42%;
  }
  .display {
    margin-bottom: 3px;
  }
  label {
    font-size: 14px;
  }
  }
  