<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <!-- <img id="bgimg" src="assets/event/lobby.jpg" alt=""> -->
        <img id="bgimg" [src]="lobbyImage" alt="">
        <ng-container *ngFor="let p of pointers">
          <div *ngIf="p.is_enabled === true" data-bs-toggle="tooltip" id="{{p.class}}" data-bs-placement="top" title="{{p.title | titlecase}}" [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p)">
            <div class="pulsating-circle"></div>
          </div>
        </ng-container>        
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="pointerVideo" preload="auto" class="videoBg" (ended)="endVideo()" poster="assets/event/lobby.jpg">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div>
<app-pdfmodal [rName]="sName"></app-pdfmodal>
<app-welcome-chat></app-welcome-chat>
<!-- <button id="startTour" class="start-tour">start tour</button> -->

<!-- <div class="my-title">IntroJS Tour Example</div>
<div class="my-container">
  <div id="one" class="a-section">one</div>
  <div id="two" class="a-section">two</div>
  
  <div class="clear">
    <button id="startTour" class="start-tour">start tour</button>
  </div>
</div> -->
<!-- video Modal -->
<!-- <div class="modal fade" id="playVideo1" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
style="z-index: 9999;">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">

 <div class="modal-body p-0">
<div id="modal-video">
<div id="closePopup" (click)="closeModalVideo1()">&times;</div>
<video id="video" preload="auto" src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/30%20Series%20IP%20Cameras%20-%20Reduce%20Your%20Liability%20With%20Secure%20Channel%20Encryption%20_%20Ho_Full-HD.mp4" width="100%" controls>
</video>
</div>
</div> 
</div>
</div>
</div> -->
