<span id="signout">
    <a id="funBtn" class="submitBtn" (click)="submitPageAnalytics('click_Logout')" title="Logout" data-bs-toggle="tooltip"  role="button">
        Logout 
    </a>
</span>
<span id="goBack" [ngStyle]="{'display': (router.url.includes('auditorium') || router.url.includes('exhibition'))?'block':'none'}">
    <a id="funBtn" class="submitBtn" (click)="gotoBack()" title="Go Back" data-bs-toggle="tooltip" role="button">
        Back 
    </a>
</span>
<router-outlet></router-outlet>
<app-menu (outputMenu)="readOutputMenu($event)"></app-menu>
<app-briefcase-modal></app-briefcase-modal>
<app-leaderboard-modal></app-leaderboard-modal>


