<div class="modal fade" id="pdf_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="pdf_modalLabel">{{rName | titlecase}}</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div [ngSwitch]="rName">
                        <div *ngSwitchCase="'Speaker Profile'">
                          <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550" src="assets/event/SpeakersStandy.pdf" width="100%"></iframe>                              
                        </div>
                        <div *ngSwitchCase="'agenda'">
                          <embed src="assets/event/agenda.pdf" frameborder="0" width="100%" height="540">
                        </div>
                        <div *ngSwitchCase="'video'">
                          <video id="video" preload="auto" src="assets/event/videoplayback.mp4" width="100%" controls>
                          </video>
                        </div>
                         <div *ngSwitchCase="'helpdesk'">
                          <app-welcome-chat></app-welcome-chat>
                        </div> 
                       
                    </div>
                  </div>
                </div>
            </div>
        </div>      
      </div>      
    </div>
  </div>
</div>